@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');

:root{
    --orange: #fa9200;
    --black: #141414;
}
/* *{
    margin: 0%;
    padding: 0%;
    color: var(--orange);
} */
*{
    font-family: 'Montserrat', sans-serif;

}

.page{
    /* background-color: var(--black); */
    width: 100vw;
    height: 450vh;
    /* min-height: 100vh; */
    /* position: absolute; */
    transform: translateX(-30%);
    display: flex;
    align-items: center;
    flex-direction: column;
    /* transform: scaleY(0); */
    /* transform-origin: top; */
    transition: 0.3s;
    left: 0;
    z-index: -1;
    position: absolute;
}
.switch{
    /* position: relative; */
    margin: 0px auto;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    width: 60%;
    height: 50px;
    margin-top: 120px;
    border-radius: 30px;
    border: 2px solid var(--orange);
    transform: translateX(50%);
}
.toggle{
    /* background: transparent; */
    outline: none;
    position: relative;
    padding: 10px 20px;
    outline:none;
}
.button{
    width: 50%;
    background-color: var(--black);
    color: var(--orange);
    border-radius: 30px;
    border: none;
    outline: none;
    font-size: 1.7em;
}
.button::after{
    outline: none;
}
#btn{
    top: 0px;
    left: 0;
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: var(--orange);
    border-radius: 30px;
}
.table{
    position: absolute;
    display: inline;   
    transition: 0.5s;
    margin-left: auto; 
    margin-right: auto; 
    transform: translateX(40%);
    margin-top: 25em;
}
#day1{
    margin-top: 25em;
    left: 1;
    opacity: 1;
}
#day2{
    margin-top: 25em;
    left: 100px;
    opacity: 0;
}
.prog1{
    width: 80%;
    display: grid;
    grid-template-columns: 50% 50%;
    /* width: 80%; */
    /* padding: 15px; */
    background-color: var(--black);
    border: 2px solid var(--orange);
    /* margin: 0 auto; */
    margin-top: 5px;
    border-radius: 30px;
    height: 70px;
}
.name{
    margin-left: 40%;
    display: flex;
    align-items: center;
    font-size: 1.5em;
}
.time{
    margin-left: 60%;
    display: flex;
    align-items: center;
    font-size: 1.5em;
}
