@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');
:root{
  --orange: #fa9200;
  --black: #141414;
}

/* * { 
  margin : 0;
  padding: 0;
  box-sizing : border-box;
} */
*{
  font-family: 'Montserrat', sans-serif;
}

.section2{
  display : flex;
  /* align-items : center; */
  justify-content : center;  
  min-height : 800px;

}

.event{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 7em;
  text-decoration: none;
  color: var(--orange);
}
.event p{
  font-family: 'Roboto', sans-serif;

}

.container {
  position : relative;
  width : 1100px;
  display : flex;
  /* align-items :baseline; */
  margin-top: 100px;
  justify-content : center;
  flex-wrap:wrap;
  padding : 10px;  
  z-index: 0;
}

.container .card {
  position: relative;
  width : 170px; /*adjust per image */
  height : 200px;  
  background-color : var(--orange);
  margin : 25px 15px;
  padding : 30px 15px;
  
  display : flex;
  align-items: center;
  flex-direction : column;
  /* box-shadow : 0 5px 20px var(--orange); */
  transition : 0.3s ease-in-out;
  border-radius : 15px;
}
/* .container .card:hover {
  height : 200px;    
} */


.container .card .image {
  position : relative;
  width : 128px;
  height : 128px;
  background: var(--black);
  border: 2px solid var(--orange);
  border-radius: 30px;
  padding: 10px;
  top : -40%;
  left: 0px;
  /* box-shadow : 0 5px 20px rgba(0,0,0,0.2); */
  /* z-index : 1; */
}

.container .card .image img {
  max-width : 100%;
  border-radius : 15px;
}

.container .card .content {
  position : relative;
  width: 100%;
  top : -120px;
  /* padding : 10px 0px 10px 0px; */
  margin: 0%;
  color : #111;
  display: flex;
  flex-direction: column;
  text-align : center;
  justify-content: center;
  
  visibility : visible;
  opacity : 1;
  transition : 0.3s ease-in-out;
  
  font-family : "Poppins", sans-serif;
}
.container .subdetail{
  color: var(--black);
  margin-top: 7px;
  font-size: 20px;
  font-weight: 400;
  
}

/* .container .card:hover .content {
  margin-top : 30px;
  visibility : visible;
  opacity : 1;
  transition-delay: 0.2s;
  
} */

.linkview{
  color: var(--black);
}

.view{
  position: relative;
  width: 80px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-items: center;
  margin: 55% 21% 0%;
  border-radius: 30px;
  padding: 0px 15px 0px 15px;
  text-decoration: none;
  overflow: hidden;
  font-family: 'Montserrat';
  font-size: 20px;
  border: 2px solid var(--black);
  color: var(--black);
  cursor: pointer;
}
.linkview:hover{
  color: var(--orange);
  text-decoration: none;
}
.view:hover{
  background-color: var(--black);
  color: var(--orange);
}
/* .view::before{
  content: '';
  position: absolute;
  border-radius: 2px;
  width: 4px;
  height: 100%;
  top: 0;
  left: 0;
  background: var(--black);
  transition: 0.5s ease-in-out;
  transition-delay: 0.5s;
}
.view::after{
  content: '';
  position: absolute;
  border-radius: 2px;
  width: 4px;
  height: 100%;
  top: 0;
  right: 0;
  background: var(--black);
  transition: 0.5s ease-in-out;
  transition-delay: 0.5s;
}

.view:nth-child(2)::before,
.view:nth-child(2)::after{
  background-color: var(--black);
}

.view:hover::before,
.view:hover::after{
  width: 50%;
}

.view span{
  position: absolute;
  z-index: 1;
  color: var(--orange);
  font-size: 25px;
  transition: 0.5s;
}
.view span:nth-child(1){
  transition-delay: 0.75s;
}
.view:hover span:nth-child(1){
  transform: scale(0);
  transition-delay: 0s;
}

.view span:nth-child(2){
  transform: scale(3);
  opacity: 0;
  color: #fff;
  transition-delay: 0s;
}
.view:hover span:nth-child(2){
  transform: scale(1);
  transition-delay: 0s;
  opacity: 1;
  z-index: 10;
  color: #fff;
  transition-delay: 0.5s;
} */
