@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Orbitron:wght@700&family=Roboto&display=swap');

:root{
  --black:#141414;
  --pink: rgb(250, 146, 0);
}

*{
  font-family: 'Roboto', sans-serif;
  margin: 1px;
  padding: -1px;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border:none;
  transition: .2s linear;
}

*::selection{
 
  color:#fff;
}

.listout{
  margin-top: 80px;
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 6.5rem;
  scroll-behavior: smooth;
  background:var(--black);
  height: 500vh;
  width: 100vw;
}



.event{
  padding:3rem 9%;
}

.btn{
  display: inline-block;
  margin-top: 1rem;
  border:.2rem solid var(--black);
  color:var(--black);
  font-size: 1.7rem;
  padding:.8rem 3rem;
  cursor: pointer;
  background: none;
  border-radius: 30px;
}

.btn:hover{
  text-decoration: none;
  background: var(--black);
  color:#fff;
}

.heading{
  display: flex;
  justify-content: center;
  text-align: center;
  /* padding-right: 22px; */
  padding-bottom: 2rem;
  
}

.h1{
  text-decoration:  solid var(--pink);
  font-size: 7em;
  
}



.event .boxcontainer{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.event .boxcontainer .box{
  flex:1 1 30rem;
  margin:1rem;
  padding: 0px 15px 0px 15px;
  overflow: hidden;
  position: relative;
  border: 2px solid var(--pink);
  border-radius: .5rem;
  box-shadow:0 .5rem 1rem var(--pink);
  height: 25rem;
  cursor: pointer;
  background-image: url('../../images/bg.png');
}

.event .boxcontainer .box img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.event .boxcontainer .box .info{
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top:0; left: 0;
  height: 100%;
  width: 100%;
  background:rgba(250, 146, 0, 0.932);
  text-align: center;
  transform: scale(1.3);
  opacity: 0;
}

.event .boxcontainer .box:hover .info{
  transform: scale(1);
  opacity: 5;
}

.event .boxcontainer .box:hover img{
  transform: scale(1.3);
}

.event .boxcontainer .box h3{
  font-size: 4rem;
  color:white;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 100%;
  font-family: 'Orbitron', sans-serif;
  /* padding-left: 13.5rem;
  padding-top: 6rem; */
}

.event .boxcontainer .box .info p{
  font-size: 1.7rem;
  color:#333;
  padding:1rem;
}

.footer{
  padding:2.5rem 1.5rem;
  font-size: 2rem;
  color:var(--black);
  background:rgb(250, 72, 1);
  text-align: center;
}

.footer span{
  color:var(--pink);
}






@media (max-width:1200px){

  html{
    font-size: 55%;
  }

}

@media (max-width:991px){

  header{
    padding:2rem 4%;
  }

  section{
    padding:3rem 4%;
  }

}

@media (max-width:768px){


}


@media (max-width:450px){

  html{
    font-size: 50%;
  }

}
