

.main{
    margin-top: 1100px;
    width: 100vw;
    
    
}

.head{
    
    position: absolute;
    height: 500px;   
    top: 0;
    width: 100vw;
    z-index: 1000;
}
.loader{
    position: fixed; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    /* text-align: center;
    justify-content: center;
    align-items: center;*/
}
